$breakpoints: (
  "xs": 320px,
  "sm": 576px,
  "md": 766px,
  "lg": 991px,
  "xl": 992px,
  "xxl": 1400px
);
//font-sizes
/*@mixin fs-lg{
  @media (max-width: map-get($breakpoints, "lg")){
    $fs-900: 7.5rem;
    $fs-800: 5.5rem;
    $fs-700: 2.75rem;
    $fs-600: 1.1rem;
    $fs-500: 0.95rem;
  }
}*/
@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")){
    @content;
  }
}
@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")){
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints, "md")){
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints, "lg")){
    @content;
  }
}
@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")){
    @content;
  }
}
@mixin breakpoint($bp:0){
  @media (max-width: $bp){
    @content;
  }
}
 @mixin padding-nav{
   @media (min-width: map-get($breakpoints, "sm")) and (max-width: map-get($breakpoints, "md")){
     @content;
   }
 }
