$clr-dark: rgba(12,14,24,1);
$clr-dark-accent: rgba(12,14,24,0.95);
$clr-accent: rgba(210,216,249,1);
$clr-accent-dark: rgba(210,216,249,0.2);
$clr-accent-light: rgba(210,216,249,0.75);
$clr-accent-extra-light: rgba(210,216,249,0.15);
$clr-light: rgba(255,255,255,1);
$clr-light-half: rgba(255,255,255,0.5);
$clr-bg-nav-dark: rgba(63, 67, 78, 1);
$clr-bg-nav-light: rgba(63, 67, 78, 0.95);
$clr-bg-nav-accent: rgba(24, 26, 36, 1);


$clr-dark-hue: 230;
$clr-dark-saturation: 35%;
$clr-dark-light: 7%;
$clr-accent-hue: 231 ;
$clr-accent-saturation: 77%;
//$clr-accent-light: 90%;
$clr-light-hue: 0;
$clr-light-saturation: 0%;
$clr-light-light: 100;
