
$colors-div:3;


//font-sizes
/*$fs-900: clamp(4rem, 15vw, 9rem);
$fs-800: 7rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;
*/
$fs-900: clamp(4rem, 13vw, 9rem);
$fs-800: clamp(4.5rem,11vw,7rem);
$fs-700: clamp(2rem,8vw,3.5rem);
$fs-600: clamp(1.5rem,6vw,2rem);
$fs-500: clamp(0.95rem,1.05rem,1.75rem);
$fs-400: clamp(.85rem,8vw,1.125rem);
$fs-300: 1rem;
$fs-200: 0.875rem;
//font-family
$serif: "Bellefair", serif;
$sans-cond: "Barlow Condensed", sans-serif;
$sans-norm: "Barlow", sans-serif;

//extra
$padding-top: 2em;
